.archive-page{

	.cpt_publications{
		border-bottom: 1px solid $c_grey_light;

		img{
			width: 100%;
			max-width: 200px;
			object-fit: contain;
			object-position: center;
		}

		h2 {
			color: $c_dark;
		}
	}

}
