@mixin flex($direction: row, $items: center, $content: center) {
    display: flex;
	flex-direction: $direction;
	align-items: $items;
	justify-content: $content;
}
@mixin box-shadow() {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
@mixin text-shadow() {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

@mixin gradient() {
	background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(9,9,121,0) 100%);
}

// custom media
$media-types: (
    xs: '(max-width: 320px)',
    sm: '(max-width: 576px)',
    md: '(max-width: 768px)',
    lg: '(max-width: 991px)',
    xl: '(max-width: 1200px)',
    hd: '(max-width: 1366px)',
    rwd: '(max-width: 1440px)',
    fhd: '(max-width: 1920px)'
);

$min-media-types: (
		xs: '(min-width: 320px)',
		sm: '(min-width: 576px)',
		md: '(min-width: 768px)',
		lg: '(min-width: 991px)',
		xl: '(min-width: 1200px)',
		hd: '(min-width: 1366px)',
		rwd: '(min-width: 1440px)',
		fhd: '(min-width: 1920px)'
);

@mixin media($media) {
    @media #{map-get($media-types, $media)} {
        @content;
    }
}

@mixin min-media($media) {
	@media #{map-get($min-media-types, $media)} {
		@content;
	}
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}
