.template-events{

	.banner-with-text{

		&-wrapper{
			height: 700px;
			@include media(lg){
				height: 550px;
			}
			@include media(md){
				height: 250px;
			}
		}

		h1{
			z-index: 1;
		}

		.img-gradient{
			@include gradient();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			z-index: -1;
		}

	}

	.events-slider--gallery{
		img{
			object-fit: cover;
			object-position: center;
		}

		.flickity{
			&-button{
				@include media(md){
					top: 4rem;
				}
			}
		}

	}
}
