/* purgecss start ignore */
.template-stroke{
	.banner-with-text{

		&-wrapper{
			height: 700px;
			@include media(lg){
				height: 550px;
			}
			@include media(md){
				height: 250px;
			}
		}

		h1{
			z-index: 1;
		}

		.img-gradient{
			@include gradient();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			z-index: -1;
		}

	}
	.stoke-product-slider{
		position: relative;
		width: 100%;
		margin-top: 60px;
	}
	.stroke-list--single-date{
		color: #BF940D;
		font-weight: bold;
		font-size: 13px;
	}
	.product-block{
		position: relative;
		padding: 3rem;
		height: 100%;
		@include media(rwd) {
			padding: 3rem 1.5rem;
		}
		@include media(xl) {
			padding: 3rem 1.5rem;
		}
		@include media(sm) {
			min-height: auto;
			flex-direction: column;
			text-align: center;
			background: transparent !important;
		}

		&--image {
			position: absolute;
			bottom: 20px;
			left: 0;
			@include media(md){
				position: relative;
				bottom: auto;
				left: auto;
				text-align: center;
				margin-top: 20px;
			}
			img{
				width: 230px;
				object-fit: contain;
				object-position: center;
				height: 350px;
				@include media(lg){
					height: 350px;
				}
				@include media(md){
					margin: 0 auto;
					width: 280px;
					height: 270px;
				}
			}

			a {
				display: block;
				position: relative;
				z-index: 1;
			}

		}

		&--content {
			flex: 1;
			padding-left: 20px;
			@include flex(column, flex-start, center);
			width: 100%;
			height: 100%;
			@include media(md){
				padding: 0 20px;
			}
			@include media(sm) {
				@include flex(column, center, center);
				max-width: 300px;
				margin: 0 auto;
			}
			&.padding-for-thumbnail{
				padding-left: 200px;
				@include media(md){
					padding-left: 0;
				}
			}


			.product-title{
				font-size: 2em;
				color: $c_white;
				margin-bottom: 2rem;
				font-weight: 500;
				@include media(rwd) {
					font-size: 1.4rem;
					margin-bottom: 1rem;
				}
				@include media(sm) {
					text-align: center;
				}
			}
			.product--desc {
				font-weight: 300;
				font-size: 0.875rem;
				line-height: 1.25;
				color: $c_white;
				margin-bottom: 2rem;
				@include media(rwd) {
					padding-right: 0rem;
					margin-bottom: 1rem;
				}
				@include media(sm) {
					text-align: center;
					padding-right: 0;
				}
			}

			span.price {
				font-weight: 650;
				font-size: 2.25rem;
				line-height: 1.25;
				@include media(rwd) {
					font-size: 1.5rem;
				}
				@include media(sm) {
					text-align: center;
				}

				del {
					font-weight: normal;
					font-size: 1.5rem;
					line-height: 1.25;
					color: #969592;
					margin-right: .5rem;
					@include media(rwd) {
						font-size: 1rem;
					}
				}

				ins {
					text-decoration: none;
				}

			}

			.add_to_cart_button {
				line-height: 60px;
				text-align: center;
				font-weight: 400;
				background-color: #7e1120;
				border: #7e1120;
				&:hover{
					background-color: #991426;
					border: #991426;
				}
				@include media(xl) {
					min-width: 200px;
				}
			}
			.added_to_cart{
				display: block;
				margin-top: 10px;
			}

			.fa-spinner,
			.fa-check {
				display: none;
			}
		}
		&.outofstock{
			.product-block--image{
				opacity: .7;
			}
			.product-title{
				opacity: .7;
			}
			.product--desc {
				opacity: .7;
			}
			.product-awards{
				img{
					opacity: .7;
				}
			}
		}
	}
	.product-awards{
		position: relative;
		h5{
			display: none;
		}
		img{
			width: 50px;
			height: 50px;
		}
		.awards-item{
			display: block;
			.awards-desc{
				position: absolute;
				display: none;
				z-index: 10;
				bottom: 75px;
				left: 0;
				right: 0;
				max-width: 200px;
				width: 200px;
				font-size: 14px;
				background: #c5c9cf;
				color: black;
				padding: 5px 10px;
				border-radius: 10px;
			}
			&:hover{
				.awards-desc{
					display: block;
				}
			}
		}
	}
	.owl-item{
		min-height: 400px;
		background-color: #1A1A1A !important;
	}
	.owl-carousel .owl-stage {
		display: flex;
	}
	.owl-nav{
		.owl-prev, .owl-next{
			position: absolute;
			top: 50%;
			i{
				font-size: 26px;
				color: #BF940D;
				transition: 0.3s color;
				width: 44px;
				height: 44px;
				border-radius: 50%;
				transform: translateY(-50%);
				&:hover{
					color: #d4af37;
				}
			}
		}
		.owl-prev{
			left: 0;
		}
		.owl-next{
			right: 0;
		}
	}
}
/* purgecss end ignore */
