@import
	'./woocommerce-notices',
	'./woocommerce-my-account',
	'./woocommerce-shop',
    './woocommerce-cart',
	'./woocommerce-loop',
	'./woocommerce-checkout',
	'./woocommerce-thankyou',
	'./woocommerce-payment-system',
	'./woocommerce-single';




/* purgecss start ignore */
.woocommerce{

	.blockUI.blockOverlay {
		background-image: none !important;
		background-color: rgba(26, 26, 26, 0.5)!important;
		&:before {
			content: none !important;
			background-color: rgba(26, 26, 26, 0.5)!important;
			animation: cssload-rotate-one 1.15s linear infinite;
		}

		&:after {
			content: none !important;
			background-color: rgba(26, 26, 26, 0.5)!important;
		}
	}

}
/* purgecss end ignore */
